body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1{
    margin: 0;
}

h2 {
    text-align: center;
}

.site-title {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

.tittle-box {
    background-color:rgb(131, 216, 134);
    padding: 2%;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
    box-sizing: border-box;
}

.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-form button:hover {
    background-color: #555;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    text-align: center;
    flex: 1 1 20%;
    min-width: 100px; /* Set the minimum width of the card */
}

.user-card:hover {
    background-color: #f0f0f0;
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}