body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1{
    margin: 0; 
    padding: 20px 20px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(127, 202, 127);
}

.header-list {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 20px 20px;
}

.header-list li {
    display: flex;
    align-items: center;
}

.header-list form {
    display: flex;
    gap: 10px;
}

.loginInput {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.loginButton {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.loginButton:hover {
    background-color: #dfdbdb;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Formulario de busqueda de portfolios */
.search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
    box-sizing: border-box;
}

.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-form button:hover {
    background-color: #555;
}

/* USER CARDS */
.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 5em 0 5em;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    text-align: center;
    flex: 1 1 20%;
    min-width: 100px; /* Set the minimum width of the card */
    max-width: 33em;
    transition: background-color 0.3s, color 0.3s;
}

.user-card:hover {
    background-color: #dfdbdb;
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Formulario de registro */
.registerForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-width: 30%;
    margin: 0 auto;
}

.registerForm label {
    font-size: 16px;
    text-align: center;
}

.registerForm input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.registerForm textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.registerForm input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.registerForm input[type="submit"]:hover {
    background-color: #555;
}

/* Portfolios personales */

.portfolioMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 0 5em 0 5em;
}

.portfolioMain p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;  
}

.portfolioUserData {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10em 0 10em;
}

.portfolioImg {
    width: auto;
    height: 300px;
    border-radius: 10px;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 0 2em 2em 2em;
}

.trabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(127, 202, 127);
    border: 1px solid rgb(89, 163, 89);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    flex: 1 1 20%;
    min-width: 100px;
    max-width: 400px;
}

.trabajoOculto {
    background-color: #c9c9c9;
}

.trabajo p {
    display: flex;
    align-items: center;
    gap: 2px; 
    margin: 10px;
}

/* Botones de edición de los campos del portfolio */
.tituloConBoton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.botonesEdicion {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botonesEdicion a {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-visibility {
    background-color: #1ac7c7;
    transition: background-color 0.3s, color 0.3;
}

.btn-visibility:hover {
    background-color: #68d3e6;
}

.btn-novisibility {
    background-color: #0f9797;
    transition: background-color 0.3s, color 0.3s;
}

.btn-novisibility:hover {
    background-color: #68d3e6;
}

.btn-edit {
    background-color: #c7ca1a;
    transition: background-color 0.3s, color 0.3s;
}

.btn-edit:hover {
    background-color: #d3e668;
}

.btn-delete {
    background-color: #ca1a1a;
    transition: background-color 0.3s, color 0.3s;
}

.btn-delete:hover {
    background-color: #e66868;
}

.btn-new {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79e179;
    transition: background-color 0.3s, color 0.3s;
}

.btn-new:hover {
    background-color: #9aef9a;
}
